@use "@carbon/react/scss/_spacing" as *;
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    flex: 1 0 auto;
    width: 99rem;
    max-width: 100%;
    margin-top: $spacing-11;
    margin-left: auto;
    margin-right: auto;
    padding: $spacing-06;
  }
}
